@require './colors';

$primary ?= $white;
$info ?= $blue;
$warning ?= $yellow;
$danger ?= $red;
$theme ?= {
  default: $white,
  primary: $blue,
  success: $green,
  info: $blue,
  warning: $yellow,
  danger: $red
};