.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

// Do we need something like this?
.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.flex.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.flex.align-end {
  align-items: flex-end;
}

